.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--main-color);
}

.header__logo {
    width: 75px;
}

.header__user-info-and-btn {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__username {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}
